.signup-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.signup-left {
  background: linear-gradient(to bottom right, #5aa150, #4caf50);
  font-family: 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  flex: 1;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.tagline{
  font-size: 20px;
}